.detail-entity-lock-notice__title {
  font-weight: 500;
}

.detail-entity-lock-notice__title,
.detail-entity-lock-notice__body {
  margin: 0;
  font-size: var(--ms-text-label);
}

.detail-entity-lock-notice__body {
  margin-top: 4px;
  line-height: 20px;
}
