*

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!.npmrc

!apps/
apps/*
!apps/admin/
!apps/admin/**
apps/admin/dist/
!apps/agent/
!apps/agent/package.json
!apps/backend/
!apps/backend/**
apps/backend/bin/
!apps/frontend/
apps/frontend/*
!apps/frontend/package.json
!apps/frontend/src/
!apps/frontend/src/**
!apps/movcli/
!apps/movcli/package.json

!packages/
packages/*
!packages/draft-schemas/
!packages/draft-schemas/**
!packages/plugin-sdk/
!packages/plugin-sdk/**
!packages/tokens/
!packages/tokens/**
!packages/ui/
!packages/ui/**
packages/*/dist/

!plugins/
plugins/*
!plugins/image-generator/
!plugins/image-generator/package.json
!plugins/video-generator/
!plugins/video-generator/package.json
