# Binaries
apps/backend/bin/
apps/backend/main
apps/frontend/dist/
apps/frontend/dist-electron/
apps/frontend/out/
apps/frontend/release/

# Go
apps/backend/uploads/
*.exe
*.test
*.out

# Node
node_modules/
**/node_modules/
apps/*/dist/
packages/*/dist/

# Env
.env
apps/backend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp


.venv
__pycache__
.gocache
.pnpm-store
